/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styling */
body {
    
    height: 100vh;
    /* background: linear-gradient(to right, #4b6cb7, #182848); */
    
}
.message{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.wr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* Container */
.container {
    
    background: white;
    padding: 30px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Heading */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

input:focus, textarea:focus {
    border-color: #4b6cb7;
    box-shadow: 0 0 5px rgba(75, 108, 183, 0.5);
}

/* Button Styling */
button {
    background: #4b6cb7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #182848;
}

/* Contact Info */
.contact-info {
    margin-top: 20px;
    text-align: left;
}

.contact-info p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.contact-info strong {
    color: #4b6cb7;
}

